@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.form-container {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.54);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.1px);
-webkit-backdrop-filter: blur(14.1px);
border: 1px solid rgba(255, 255, 255, 1);
/* width: 900px; */
    /* background-color: white; */
    padding: 5px;
    border-radius: 15px;
}

.form-label {
    color: #77D700;
    font-weight: bold;
}
