
.menu {
  margin-bottom: 20px;
  background-color: #8faf1c;
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 12px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#basic-nav-dropdown {
  color: rgb(0, 0, 0) !important;
}

.dropdown-item {
  color: #000000 !important;
}

.logo-passarinho {
  max-width: 50px;
}