@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff !important;
}

.form-container {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

.form-label {
    color: #8faf1c;
    font-weight: bold;
}