 .btn {
    margin: 5px;
}

.papagaio {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.home-container {
    display: flex;
    justify-content:left;
    align-items: center;
    overflow: hidden;
}